# Loading the data

In [279]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.preprocessing import label_binarize

In [280]:
training_data = pd.read_csv('cleandata.train.csv')
test_data = pd.read_csv('cleandata.test.csv')

training_data['Training_set'] = 1
test_data['Training_set'] = 0

In [281]:
full_data = pd.concat([training_data,test_data])

In [282]:
full_data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,lastName,title,otherName,Training_set
0,522,yes,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,NaN,S,Vovk,Mr,Janko,1
1,8,yes,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Palsson,Master,Gosta Leonard,1
2,262,no,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.3875,NaN,S,Asplund,Master,Edvin Rojj Felix,1
3,247,yes,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.7750,NaN,S,Lindahl,Miss,Agda Thorilda Viktoria,1
4,722,yes,3,"Jensen, Mr. Svend Lauritz",male,17.0,1,0,350048,7.0542,NaN,S,Jensen,Mr,Svend Lauritz,1
5,231,no,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.4750,C83,S,Harris,Mrs,Henry Birkhardt (Irene Wallach),1
6,642,no,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.3000,B35,C,Sagesser,Miss,Emma,1
7,801,yes,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,NaN,S,Ponesell,Mr,Martin,1
8,839,no,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S,Chip,Mr,Chang,1
9,65,yes,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,Stewart,Mr,Albert A,1
10,665,no,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S,Lindqvist,Mr,Eino William,1
11,252,yes,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S,Strom,Mrs,Wilhelm (Elna Matilda Persson),1
12,88,yes,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,Slocovski,Mr,Selman Francis,1
13,838,yes,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S,Sirota,Mr,Maurice,1
14,365,yes,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q,O'Brien,Mr,Thomas,1
15,399,yes,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S,Pain,Mr,Alfred,1
16,850,no,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C,Goldenberg,Mrs,Samuel L (Edwiga Grabowska),1
17,511,no,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.7500,NaN,Q,Daly,Mr,Eugene Patrick,1
18,841,yes,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S,Alhomaki,Mr,Ilmari Rudolf,1
19,881,no,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Shelley,Mrs,William (Imanita Parrish Hall),1
20,623,no,3,"Nakid, Mr. Sahid",male,20.0,1,1,2653,15.7417,NaN,C,Nakid,Mr,Sahid,1
21,868,yes,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,Mr,Washington Augustus II,1
22,440,yes,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S,Kvillner,Mr,Johan Henrik Johannesson,1
23,426,yes,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,Wiseman,Mr,Phillippe,1
24,563,yes,2,"Norman, Mr. Robert Douglas",male,28.0,0,0,218629,13.5000,NaN,S,Norman,Mr,Robert Douglas,1
25,720,yes,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.7750,NaN,S,Johnson,Mr,Malkolm Joackim,1
26,417,no,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,NaN,S,Drew,Mrs,James Vivian (Lulu Thorne Christian),1
27,728,no,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,NaN,Q,Mannion,Miss,Margareth,1
28,444,no,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S,Reynaldo,Miss,Encarnacion,1
29,457,yes,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S,Millet,Mr,Francis Davis,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,749,yes,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S,Marvin,Mr,Daniel Warner,0
150,750,yes,3,"Connaghton, Mr. Michael",male,31.0,0,0,335097,7.7500,NaN,Q,Connaghton,Mr,Michael,0
151,759,yes,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.0500,NaN,S,Theobald,Mr,Thomas Leonard,0
152,760,no,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S,Rothes,Mrs,of (Lucy Noel Martha Dyer-Edwards),0
153,776,yes,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.7500,NaN,S,Myhrman,Mr,Pehr Fabian Oliver Malkolm,0
154,779,yes,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q,Kilgannon,Mr,Thomas J,0
155,781,no,3,"Ayoub, Miss. Banoura",female,13.0,0,0,2687,7.2292,NaN,C,Ayoub,Miss,Banoura,0
156,787,no,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S,Sjoblom,Miss,Anna Sofia,0
157,789,no,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S,Dean,Master,Bertram Vere,0
158,798,no,3,"Osman, Mrs. Mara",female,31.0,0,0,349244,8.6833,NaN,S,Osman,Mrs,Mara,0
159,816,yes,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S,Fry,Mr,Richard,0
160,817,yes,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S,Heininen,Miss,Wendla Maria,0
161,823,yes,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,Reuchlin,Master,John George,0
162,824,no,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S,Moor,Mrs,(Beila),0
163,828,no,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C,Mallet,Master,Andre,0
164,831,no,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,Yasbeck,Mrs,Antoni (Selini Alexander),0
165,833,yes,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C,Saad,Mr,Amin,0
166,835,yes,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S,Allum,Mr,Owen George,0
167,843,no,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C,Serepeca,Miss,Augusta,0
168,844,yes,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C,Lemberopolous,Mr,Peter L,0
169,849,yes,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S,Harper,Rev,John,0
170,853,yes,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,Boulos,Miss,Nourelain,0
171,857,no,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,Wick,Mrs,George Dennick (Mary Hitchcock),0
172,861,yes,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,Hansen,Mr,Claus Peter,0
173,866,no,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,Mrs,(Karolina),0
174,873,yes,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,Mr,Frans Olof,0
175,879,yes,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Laleff,Mr,Kristo,0
176,884,yes,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,Mr,Frederick James,0
177,886,yes,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Rice,Mrs,William (Margaret Norton),0
178,891,yes,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,Mr,Patrick,0

In [283]:
full_data['result'] = label_binarize(full_data['survived'], classes=['no','yes'], neg_label=0, pos_label=1)

In [284]:
full_data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,lastName,title,otherName,Training_set,result
0,522,yes,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,NaN,S,Vovk,Mr,Janko,1,1
1,8,yes,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Palsson,Master,Gosta Leonard,1,1
2,262,no,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.3875,NaN,S,Asplund,Master,Edvin Rojj Felix,1,0
3,247,yes,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.7750,NaN,S,Lindahl,Miss,Agda Thorilda Viktoria,1,1
4,722,yes,3,"Jensen, Mr. Svend Lauritz",male,17.0,1,0,350048,7.0542,NaN,S,Jensen,Mr,Svend Lauritz,1,1
5,231,no,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.4750,C83,S,Harris,Mrs,Henry Birkhardt (Irene Wallach),1,0
6,642,no,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.3000,B35,C,Sagesser,Miss,Emma,1,0
7,801,yes,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,NaN,S,Ponesell,Mr,Martin,1,1
8,839,no,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S,Chip,Mr,Chang,1,0
9,65,yes,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,Stewart,Mr,Albert A,1,1
10,665,no,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S,Lindqvist,Mr,Eino William,1,0
11,252,yes,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S,Strom,Mrs,Wilhelm (Elna Matilda Persson),1,1
12,88,yes,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,Slocovski,Mr,Selman Francis,1,1
13,838,yes,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S,Sirota,Mr,Maurice,1,1
14,365,yes,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q,O'Brien,Mr,Thomas,1,1
15,399,yes,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S,Pain,Mr,Alfred,1,1
16,850,no,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C,Goldenberg,Mrs,Samuel L (Edwiga Grabowska),1,0
17,511,no,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.7500,NaN,Q,Daly,Mr,Eugene Patrick,1,0
18,841,yes,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S,Alhomaki,Mr,Ilmari Rudolf,1,1
19,881,no,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Shelley,Mrs,William (Imanita Parrish Hall),1,0
20,623,no,3,"Nakid, Mr. Sahid",male,20.0,1,1,2653,15.7417,NaN,C,Nakid,Mr,Sahid,1,0
21,868,yes,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,Mr,Washington Augustus II,1,1
22,440,yes,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S,Kvillner,Mr,Johan Henrik Johannesson,1,1
23,426,yes,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,Wiseman,Mr,Phillippe,1,1
24,563,yes,2,"Norman, Mr. Robert Douglas",male,28.0,0,0,218629,13.5000,NaN,S,Norman,Mr,Robert Douglas,1,1
25,720,yes,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.7750,NaN,S,Johnson,Mr,Malkolm Joackim,1,1
26,417,no,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,NaN,S,Drew,Mrs,James Vivian (Lulu Thorne Christian),1,0
27,728,no,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,NaN,Q,Mannion,Miss,Margareth,1,0
28,444,no,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S,Reynaldo,Miss,Encarnacion,1,0
29,457,yes,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S,Millet,Mr,Francis Davis,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,749,yes,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S,Marvin,Mr,Daniel Warner,0,1
150,750,yes,3,"Connaghton, Mr. Michael",male,31.0,0,0,335097,7.7500,NaN,Q,Connaghton,Mr,Michael,0,1
151,759,yes,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.0500,NaN,S,Theobald,Mr,Thomas Leonard,0,1
152,760,no,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S,Rothes,Mrs,of (Lucy Noel Martha Dyer-Edwards),0,0
153,776,yes,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.7500,NaN,S,Myhrman,Mr,Pehr Fabian Oliver Malkolm,0,1
154,779,yes,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q,Kilgannon,Mr,Thomas J,0,1
155,781,no,3,"Ayoub, Miss. Banoura",female,13.0,0,0,2687,7.2292,NaN,C,Ayoub,Miss,Banoura,0,0
156,787,no,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S,Sjoblom,Miss,Anna Sofia,0,0
157,789,no,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S,Dean,Master,Bertram Vere,0,0
158,798,no,3,"Osman, Mrs. Mara",female,31.0,0,0,349244,8.6833,NaN,S,Osman,Mrs,Mara,0,0
159,816,yes,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S,Fry,Mr,Richard,0,1
160,817,yes,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S,Heininen,Miss,Wendla Maria,0,1
161,823,yes,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,Reuchlin,Master,John George,0,1
162,824,no,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S,Moor,Mrs,(Beila),0,0
163,828,no,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C,Mallet,Master,Andre,0,0
164,831,no,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,Yasbeck,Mrs,Antoni (Selini Alexander),0,0
165,833,yes,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C,Saad,Mr,Amin,0,1
166,835,yes,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S,Allum,Mr,Owen George,0,1
167,843,no,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C,Serepeca,Miss,Augusta,0,0
168,844,yes,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C,Lemberopolous,Mr,Peter L,0,1
169,849,yes,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S,Harper,Rev,John,0,1
170,853,yes,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,Boulos,Miss,Nourelain,0,1
171,857,no,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,Wick,Mrs,George Dennick (Mary Hitchcock),0,0
172,861,yes,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,Hansen,Mr,Claus Peter,0,1
173,866,no,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,Mrs,(Karolina),0,0
174,873,yes,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,Mr,Frans Olof,0,1
175,879,yes,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Laleff,Mr,Kristo,0,1
176,884,yes,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,Mr,Frederick James,0,1
177,886,yes,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Rice,Mrs,William (Margaret Norton),0,1
178,891,yes,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,Mr,Patrick,0,1

In [285]:
categories = ['survived','pclass','sex','embarked','title']

In [286]:
for variable in categories:
    database[variable] = database[variable].astype('category')

# Creating dummy variables and cleaning up data

In [287]:
dummy_sex = pd.get_dummies(full_data['sex'], prefix='sex')
dummy_embarked = pd.get_dummies(full_data['embarked'], prefix='embarked')
dummy_title = pd.get_dummies(full_data['title'],prefix='title')
dummy_pclass = pd.get_dummies(full_data['pclass'],prefix='pclass')

In [288]:
full_data = pd.concat([full_data,dummy_sex,dummy_embarked,dummy_title,dummy_pclass], axis=1)

In [289]:
full_data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,...,embarked_Q,embarked_S,title_Master,title_Miss,title_Mr,title_Mrs,title_Rev,pclass_1,pclass_2,pclass_3
0,522,yes,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,8,yes,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,262,no,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.3875,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,247,yes,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.7750,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,722,yes,3,"Jensen, Mr. Svend Lauritz",male,17.0,1,0,350048,7.0542,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5,231,no,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.4750,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
6,642,no,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.3000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
7,801,yes,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
8,839,no,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
9,65,yes,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
10,665,no,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
11,252,yes,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
12,88,yes,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
13,838,yes,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
14,365,yes,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
15,399,yes,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
16,850,no,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
17,511,no,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.7500,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
18,841,yes,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
19,881,no,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
20,623,no,3,"Nakid, Mr. Sahid",male,20.0,1,1,2653,15.7417,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
21,868,yes,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
22,440,yes,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
23,426,yes,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
24,563,yes,2,"Norman, Mr. Robert Douglas",male,28.0,0,0,218629,13.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
25,720,yes,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.7750,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
26,417,no,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
27,728,no,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
28,444,no,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29,457,yes,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,749,yes,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
150,750,yes,3,"Connaghton, Mr. Michael",male,31.0,0,0,335097,7.7500,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
151,759,yes,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.0500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
152,760,no,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
153,776,yes,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.7500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
154,779,yes,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
155,781,no,3,"Ayoub, Miss. Banoura",female,13.0,0,0,2687,7.2292,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
156,787,no,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
157,789,no,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
158,798,no,3,"Osman, Mrs. Mara",female,31.0,0,0,349244,8.6833,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
159,816,yes,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
160,817,yes,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
161,823,yes,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
162,824,no,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
163,828,no,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
164,831,no,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
165,833,yes,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
166,835,yes,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
167,843,no,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
168,844,yes,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
169,849,yes,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
170,853,yes,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
171,857,no,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
172,861,yes,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
173,866,no,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
174,873,yes,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
175,879,yes,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
176,884,yes,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
177,886,yes,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
178,891,yes,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [290]:
# Add missing ages
full_data.fillna(value=full_data.age.mean(), inplace=True)

# Splitting data into training and test

In [291]:
training_data = full_data[full_data['Training_set'] == 1]
test_data = full_data[full_data['Training_set'] == 0]

In [292]:
training_data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,...,embarked_Q,embarked_S,title_Master,title_Miss,title_Mr,title_Mrs,title_Rev,pclass_1,pclass_2,pclass_3
0,522,yes,3,"Vovk, Mr. Janko",male,22.000000,0,0,349252,7.8958,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,8,yes,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,262,no,3,"Asplund, Master. Edvin Rojj Felix",male,3.000000,4,2,347077,31.3875,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,247,yes,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.000000,0,0,347071,7.7750,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,722,yes,3,"Jensen, Mr. Svend Lauritz",male,17.000000,1,0,350048,7.0542,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5,231,no,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.000000,1,0,36973,83.4750,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
6,642,no,1,"Sagesser, Mlle. Emma",female,24.000000,0,0,PC 17477,69.3000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
7,801,yes,2,"Ponesell, Mr. Martin",male,34.000000,0,0,250647,13.0000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
8,839,no,3,"Chip, Mr. Chang",male,32.000000,0,0,1601,56.4958,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
9,65,yes,1,"Stewart, Mr. Albert A",male,29.699118,0,0,PC 17605,27.7208,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
10,665,no,3,"Lindqvist, Mr. Eino William",male,20.000000,1,0,STON/O 2. 3101285,7.9250,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
11,252,yes,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.000000,1,1,347054,10.4625,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
12,88,yes,3,"Slocovski, Mr. Selman Francis",male,29.699118,0,0,SOTON/OQ 392086,8.0500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
13,838,yes,3,"Sirota, Mr. Maurice",male,29.699118,0,0,392092,8.0500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
14,365,yes,3,"O'Brien, Mr. Thomas",male,29.699118,1,0,370365,15.5000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
15,399,yes,2,"Pain, Dr. Alfred",male,23.000000,0,0,244278,10.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
16,850,no,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,29.699118,1,0,17453,89.1042,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
17,511,no,3,"Daly, Mr. Eugene Patrick",male,29.000000,0,0,382651,7.7500,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
18,841,yes,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.000000,0,0,SOTON/O2 3101287,7.9250,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
19,881,no,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.000000,0,1,230433,26.0000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
20,623,no,3,"Nakid, Mr. Sahid",male,20.000000,1,1,2653,15.7417,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
21,868,yes,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
22,440,yes,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.000000,0,0,C.A. 18723,10.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
23,426,yes,3,"Wiseman, Mr. Phillippe",male,29.699118,0,0,A/4. 34244,7.2500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
24,563,yes,2,"Norman, Mr. Robert Douglas",male,28.000000,0,0,218629,13.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
25,720,yes,3,"Johnson, Mr. Malkolm Joackim",male,33.000000,0,0,347062,7.7750,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
26,417,no,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.000000,1,1,28220,32.5000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
27,728,no,3,"Mannion, Miss. Margareth",female,29.699118,0,0,36866,7.7375,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
28,444,no,2,"Reynaldo, Ms. Encarnacion",female,28.000000,0,0,230434,13.0000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
29,457,yes,1,"Millet, Mr. Francis Davis",male,65.000000,0,0,13509,26.5500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682,372,yes,3,"Wiklund, Mr. Jakob Alfred",male,18.000000,1,0,3101267,6.4958,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
683,660,yes,1,"Newell, Mr. Arthur Webster",male,58.000000,0,2,35273,113.2750,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
684,656,yes,2,"Hickman, Mr. Leonard Mark",male,24.000000,2,0,S.O.C. 14879,73.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
685,454,no,1,"Goldenberg, Mr. Samuel L",male,49.000000,1,0,17453,89.1042,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
686,380,yes,3,"Gustafsson, Mr. Karl Gideon",male,19.000000,0,0,347069,7.7750,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
687,389,yes,3,"Sadlier, Mr. Matthew",male,29.699118,0,0,367655,7.7292,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
688,319,no,1,"Wick, Miss. Mary Natalie",female,31.000000,0,2,36928,164.8667,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
689,214,yes,2,"Givard, Mr. Hans Kristensen",male,30.000000,0,0,250646,13.0000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
690,328,no,2,"Ball, Mrs. (Ada E Hall)",female,36.000000,0,0,28551,13.0000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
691,159,yes,3,"Smiljanic, Mr. Mile",male,29.699118,0,0,315037,8.6625,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
692,497,no,1,"Eustis, Miss. Elizabeth Mussey",female,54.000000,1,0,36947,78.2667,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
693,89,no,1,"Fortune, Miss. Mabel Helen",female,23.000000,3,2,19950,263.0000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
694,304,no,2,"Keane, Miss. Nora A",female,29.699118,0,0,226593,12.3500,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
695,243,yes,2,"Coleridge, Mr. Reginald Charles",male,29.000000,0,0,W./C. 14263,10.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
696,484,no,3,"Turkula, Mrs. (Hedwig)",female,63.000000,0,0,4134,9.5875,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
697,492,yes,3,"Windelov, Mr. Einar",male,21.000000,0,0,SOTON/OQ 3101317,7.2500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
698,31,yes,1,"Uruchurtu, Don. Manuel E",male,40.000000,0,0,PC 17601,27.7208,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
699,780,no,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.000000,0,1,24160,211.3375,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
700,641,yes,3,"Jensen, Mr. Hans Peder",male,20.000000,0,0,350050,7.8542,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
701,17,yes,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
702,874,yes,3,"Vander Cruyssen, Mr. Victor",male,47.000000,0,0,345765,9.0000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
703,653,yes,3,"Kalvik, Mr. Johannes Halvorsen",male,21.000000,0,0,8475,8.4333,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
704,344,yes,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.000000,0,0,244361,13.0000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
705,747,yes,3,"Abbott, Mr. Rossmore Edward",male,16.000000,1,1,C.A. 2673,20.2500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
706,99,no,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.000000,0,1,231919,23.0000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
707,450,no,1,"Peuchen, Major. Arthur Godfrey",male,52.000000,0,0,113786,30.5000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
708,566,yes,3,"Davies, Mr. Alfred J",male,24.000000,2,0,A/4 48871,24.1500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
709,146,yes,2,"Nicholls, Mr. Joseph Charles",male,19.000000,1,1,C.A. 33112,36.7500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
710,727,no,2,"Renouf, Mrs. Peter Henry (Lillian Jefferys)",female,30.000000,3,0,31027,21.0000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
711,377,no,3,"Landergren, Miss. Aurora Adelia",female,22.000000,0,0,C 7077,7.2500,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

## Implementing Cross Validation

In [293]:
import sklearn.cross_validation as cv

# Random Forest implementation

In [294]:
rf = RandomForestClassifier(max_features=10,n_estimators=1000)

In [295]:
full_data.columns.values

array(['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked', 'lastName', 'title',
       'otherName', 'Training_set', 'result', 'sex_female', 'sex_male',
       'embarked_C', 'embarked_Q', 'embarked_S', 'title_Master',
       'title_Miss', 'title_Mr', 'title_Mrs', 'title_Rev', 'pclass_1',
       'pclass_2', 'pclass_3'], dtype=object)

In [296]:
relevant_x_columns = ['age','sibsp','parch','fare',
                     'sex_female', 'sex_male', 'embarked_C',
                     'embarked_Q', 'embarked_S', 'title_Master',
                     'title_Miss', 'title_Mr', 'title_Rev', 'pclass_1',
                     'pclass_2', 'pclass_3']

In [297]:
X_train = np.array(training_data[relevant_x_columns])
Y_train = np.array(training_data['result'])

In [298]:
X_test = np.array(test_data[relevant_x_columns])
Y_test = np.array(test_data['result'])

In [299]:
print(X_train.shape)
print(X_test.shape)
print(Y_test.shape)
print(Y_train.shape)

(712, 16)
(179, 16)
(179,)
(712,)

In [300]:
rf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=10, max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [301]:
rf.predict(X_test)

array([0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1])

In [302]:
rf.score(X_test,Y_test)

0.81005586592178769

In [303]:
rf.feature_importances_

array([ 0.21946264,  0.04874803,  0.02429814,  0.23081112,  0.09503724,
        0.09029415,  0.01112699,  0.00906676,  0.01632862,  0.01169781,
        0.00976284,  0.11972988,  0.0071888 ,  0.02430728,  0.01338942,
        0.06875028])

# GradientBoostedTrees Implementation

In [304]:
from sklearn.ensemble import GradientBoostingClassifier

In [305]:
GBC = GradientBoostingClassifier(n_estimators=1000,max_depth=5)

In [306]:
GBC.fit(X_train,Y_train)

GradientBoostingClassifier(init=None, learning_rate=0.1, loss='deviance',
              max_depth=5, max_features=None, max_leaf_nodes=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=1000,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [307]:
GBC.predict(X_test)

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1])

In [308]:
GBC.score(X_test,Y_test)

0.78770949720670391

# SVM Implementation

In [309]:
from sklearn.svm import SVC

## Linear Kernel

In [310]:
SVMlinear = SVC(kernel = 'linear', C=100, gamma = 0.001)
SVMlinear.fit(X_train,Y_train)

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=0.001, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [311]:
SVMlinear.predict(X_test)

array([0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1])

In [312]:
SVMlinear.score(X_test,Y_test)

0.84357541899441346

## RBF Kernel

In [313]:
SVMRBF = SVC(kernel = 'rbf', C=100, gamma = 0.001)
SVMRBF.fit(X_train,Y_train)

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=0.001, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [314]:
SVMRBF.predict(X_test)

array([0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1])

In [315]:
SVMRBF.score(X_test,Y_test)

0.81564245810055869

# GridSearch

In [316]:
from sklearn.grid_search import GridSearchCV

In [322]:
parameters = {'kernel':['rbf','linear'], 'C':np.logspace(-3,3,5), 'gamma':np.logspace(-3,3,5)}

In [323]:
GridsearchSVM = GridSearchCV(SVC(), parameters, cv=5, verbose=10, scoring='roc_auc', n_jobs=7)

In [324]:
GridsearchSVM.fit(X_train,Y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.708910 -   0.0s
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.698847 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.655289 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.749629 -   0.0s
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.696417 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.753021 -   0.0s
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.818344 -   0.0s
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.766143 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.752201 -   0.0s
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.822769 -   0.0s
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.786517 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.750839 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.745601 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.789061 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.763409 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.791300 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.818344 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.766143 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.762369 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.766143 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.753021 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.623384 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.753021 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.785987 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.822769 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.638117 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.822769 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................

[Parallel(n_jobs=7)]: Done   1 tasks      | elapsed:    0.1s
[Parallel(n_jobs=7)]: Batch computation too fast (0.0535s.) Setting batch_size=6.
[Parallel(n_jobs=7)]: Done   4 tasks      | elapsed:    0.2s

[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.822769 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.756625 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.786517 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.623278 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.663133 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.786517 -   0.0s
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.775705 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.669706 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.786517 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.818344 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.711426 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.675577 -   0.0s
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.818344 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.818344 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.766143 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.634696 -   0.0s
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.715618 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.766143 -   0.0s
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.615199 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.753021 -   0.0s
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.753021 -   0.0s
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.614374 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.658045 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.749205 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.822769 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.627199 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.749841 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.786517 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.780369 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.780581 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.812893 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.714225 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.717715 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.762561 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.675786 -   0.0s

[Parallel(n_jobs=7)]: Done  11 tasks      | elapsed:    0.4s
[Parallel(n_jobs=7)]: Done  38 tasks      | elapsed:    0.5s

[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.886059 -   0.1s
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.819165 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.886059 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.812893 -   0.2s
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.635679 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.886059 -   0.1s
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.601442 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.820649 -   0.3s
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.661119 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.639707 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.690799 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.812893 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.819165 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.637269 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.856477 -   0.1s
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.812893 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.886059 -   0.1s
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.788470 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.819165 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.886059 -   0.1s
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.765199 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.820649 -   0.3s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.819165 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.782595 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.769133 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.762243 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.856477 -   0.1s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.812893 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.820649 -   0.3s
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.756080 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.744549 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.748847 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.820649 -   0.3s
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.753669 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.785881 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.856477 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.819165 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.820649 -   0.3s
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.778673 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.691824 -   0.0s
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.786517 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.856477 -   0.1s
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.789273 -   0.0s
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.614990 -   0.0s
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.758533 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.856477 -   0.1s
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.775996 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.688679 -   0.0s
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.761321 -   0.0s
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.782807 -   0.0s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.736485 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.805809 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.695912 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................

[Parallel(n_jobs=7)]: Done  92 tasks      | elapsed:    1.2s

[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.638260 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.607696 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.637799 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.644689 -   0.0s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.835913 -   1.2s
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.822537 -   1.8s
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.905765 -   4.7s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.905765 -   4.6s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.905765 -   4.7s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.905765 -   4.6s
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.905765 -   4.6s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.820649 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.809413 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.845665 -   0.0s
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................

[Parallel(n_jobs=7)]: Batch computation too slow (2.40s.) Setting batch_size=3.

[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.803053 -   3.7s
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.822537 -   1.7s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.822537 -   1.8s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.822537 -   1.7s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.822537 -   1.8s
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.835913 -   1.1s
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.850329 -   5.9s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.723166 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.674109 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.638223 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.663769 -   0.0s
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.803053 -   3.9s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.803053 -   3.9s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.803053 -   3.9s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.803053 -   4.0s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.799661 -   0.0s
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.835913 -   1.1s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.835913 -   1.5s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.835913 -   1.6s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.850329 -   6.5s
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.792348 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.784591 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.774948 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.758281 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.781005 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.755989 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.787259 -   0.1s
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.850329 -   7.2s
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.850329 -   6.7s
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.850329 -   6.7s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.636527 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.835535 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.663133 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................

[Parallel(n_jobs=7)]: Done 146 tasks      | elapsed:   19.9s

[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.822327 -   0.1s
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.679033 -   0.1s
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.905136 - 1.1min
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.905136 - 1.2min
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.905136 - 1.1min
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.643629 -   0.0s
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.905136 - 1.1min
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.834429 - 1.3min
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.834429 - 1.3min
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.826101 - 1.4min
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.852449 - 1.0min
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.905136 - 1.1min
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.822956 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.767505 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.787789 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.774009 -   0.1s
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.826101 - 1.4min
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.852449 - 1.0min
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.691719 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.618344 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.607166 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.639919 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.836583 -   0.3s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.829245 -   0.3s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.811957 -   0.4s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................

[Parallel(n_jobs=7)]: Batch computation too slow (150.49s.) Setting batch_size=1.

[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.810473 -   0.5s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.824465 -   0.3s
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.826101 - 1.4min
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.826101 - 1.4min
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.804325 - 1.7min
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.826101 - 1.4min
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.804325 - 1.7min
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.804325 - 1.7min
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.804325 - 1.7min
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.804325 - 1.7min
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.736909 -   0.2s
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.748569 -   0.4s
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.742209 -   1.1s
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.834429 - 1.3min
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.834429 - 1.4min
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.834429 - 1.3min
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.852449 - 1.1min
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.721908 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.606289 -   0.0s
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.852449 - 1.0min
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.748428 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.761289 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.725037 -   0.1s
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................

[Parallel(n_jobs=7)]: Done 200 tasks      | elapsed:  6.6min

[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.770299 -   0.1s
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.852449 - 1.0min
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.804507 - 6.2min
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.856689 - 4.6min
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.804507 - 6.4min
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.890671 -11.5min
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.890671 -11.6min
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.890671 -11.5min
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.856689 - 4.6min
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.721488 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.605660 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.636527 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.665465 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.670977 -   0.0s
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................

[Parallel(n_jobs=7)]: Done 220 tasks      | elapsed: 18.8min

[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.824677 - 9.4min
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.804507 - 5.9min
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.824677 - 9.1min
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.856689 - 4.3min
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.871105 -22.1min
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.808910 -   0.2s
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.740252 -   0.2s
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.804507 - 5.9min
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.890671 -10.6min
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.692767 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.618344 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.607166 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.636951 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.641721 -   0.0s
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.856689 - 4.3min
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.824677 - 8.7min
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.871105 -21.8min
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.779560 -   0.1s
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.824677 - 8.7min
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.856689 - 4.3min
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.804507 - 5.8min
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.871105 -20.5min
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.824677 - 8.0min
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.890671 - 9.7min
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.871105 -15.6min
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.871105 -13.2min

[Parallel(n_jobs=7)]: Done 250 out of 250 | elapsed: 45.8min finished

GridSearchCV(cv=5, error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params={}, iid=True, n_jobs=7,
       param_grid={'kernel': ['rbf', 'linear'], 'C': array([  1.00000e-03,   3.16228e-02,   1.00000e+00,   3.16228e+01,
         1.00000e+03]), 'gamma': array([  1.00000e-03,   3.16228e-02,   1.00000e+00,   3.16228e+01,
         1.00000e+03])},
       pre_dispatch='2*n_jobs', refit=True, scoring='roc_auc', verbose=10)

In [325]:
GridsearchSVM.best_params_

{'C': 1000.0, 'gamma': 0.001, 'kernel': 'linear'}

In [326]:
GridsearchSVM.best_score_

0.84952414659754583

In [327]:
GridsearchSVM.predict(X_test)

array([0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1])

In [328]:
GridsearchSVM.score(X_test,Y_test)

/Users/Toavina/anaconda/lib/python2.7/site-packages/sklearn/grid_search.py:418: ChangedBehaviorWarning: The long-standing behavior to use the estimator's score function in GridSearchCV.score has changed. The scoring parameter is now used.
  ChangedBehaviorWarning)

0.88738222561751967