In [1]:
# needed whenever working with spark dataframes
from pyspark.sql import *
!rm -rf metastore_db/
sqlContext = SQLContext(sc)

In [2]:
!wget https://ibm.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv

--2017-01-25 10:23:10--  https://ibm.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197, 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ibm.ent.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv [following]
--2017-01-25 10:23:11--  https://ibm.ent.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 74.112.184.69, 74.112.185.69, 107.152.24.211, ...
Connecting to ibm.ent.box.com (ibm.ent.box.com)|74.112.184.69|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/now8-1MPDuVw7f7t7c_x7aaLbXGESCq5aPrxe38cmrD4c0Vh10badFA_dx67XhRBuIVueKLLowGskMM-tje3XBY9Nzw3agxiW3UJ5IDtttPV_GnYR4Jno9pJ6SRpjPG0ILMTXRI6qnxZcRjzmLEyqZi6jpMVp5zwOV_4LeS2qy4ZG1sPzUSUPp0HL-KCxCwZJKscBp63cCjzpsx9PYDfWEe0soxOr_43-814NThlCa0Pzx2gAKEPgF7PnvBBEC-O_hQSXHN2nuT0mTxw7gI66iSuFgjh3nDodvW6T1acKDTgTXD39XbIHN3Dx_k8xaZ59bV1iUi8Hf--MbO63l_F0HstMh-VY7IPZ1rDSPJrTHYKTyw3hA30-eYIwtFLmCrtzTxc-cj-zbDxYyihjeEzTpPZySI3SKKtCx45aayuBjCsaRYBVwiKfcGZzvI6wANPKZy1G2sN5fMKrvkxeGoazbFqqz0RSeE6GC74cjfwNgYOzJPc5PZM1ZRMeK5NL5XVSoiMRp_ESf8srC5Yr21zJt_nnAFwpEyKbmP8FVyMWjGSE2pNX14mpvMzjO_pbQtdnB9npAbGoae6jl9ij7gRpeOWFD2hRUb48RTAGIknJ4b3hgmuwquK8eh5mezsHaW9uhw-jXCdEDH_BfMRlzKVtGVnkk12bI3evSJGZz_j7Xf4-m1c29ITfEOYzg1KK8I_NAo2XMnUnJxmpCoEU7i-QBazyLtF5-dBIqpizYC-dCrhcmqMVUyHBNxj2schtn67UoQ6lKV9vVe25vQ7EWwHv-zlBe-mKbOBV4FbpETExEiYS8o67H9rTRL4Kli7KUf2SxX26jVTuUO2coMau4AJnI0wGLZ1cpooSHGoFpfA9gnXOUlapo2E6A_ZUhC5Ttv24A7dQsUxo5Xh-S8MSu44CmJ1RCO6uUaO3y7w_U2wzu6PJEaBm2aVR1Fz7mZflewZG0uIwSMRBQcH4yyzpzayIY4wwe4oNgw_Ob_lWl4WTAFrwj8D8iBGQMBkpILGlWdJiEbla7kwWaQgvR0c67n9Ey0Wg-9yKfPZCIfk1C_iHJgSEI6iIlQXSVWo-PmnWtkaPZVTjXYo-NdTHNdXCuNq6IpdJ-WISuQ5vF1uC6kaVqIlyE7fkLedCwGsz_7RNDhkbfTk3JXnzLW3MCSS0qy6tjMQqAklV0k5mdKVR_1qISCLcg_l8E9suNKblw../download [following]
--2017-01-25 10:23:13--  https://public.boxcloud.com/d/1/now8-1MPDuVw7f7t7c_x7aaLbXGESCq5aPrxe38cmrD4c0Vh10badFA_dx67XhRBuIVueKLLowGskMM-tje3XBY9Nzw3agxiW3UJ5IDtttPV_GnYR4Jno9pJ6SRpjPG0ILMTXRI6qnxZcRjzmLEyqZi6jpMVp5zwOV_4LeS2qy4ZG1sPzUSUPp0HL-KCxCwZJKscBp63cCjzpsx9PYDfWEe0soxOr_43-814NThlCa0Pzx2gAKEPgF7PnvBBEC-O_hQSXHN2nuT0mTxw7gI66iSuFgjh3nDodvW6T1acKDTgTXD39XbIHN3Dx_k8xaZ59bV1iUi8Hf--MbO63l_F0HstMh-VY7IPZ1rDSPJrTHYKTyw3hA30-eYIwtFLmCrtzTxc-cj-zbDxYyihjeEzTpPZySI3SKKtCx45aayuBjCsaRYBVwiKfcGZzvI6wANPKZy1G2sN5fMKrvkxeGoazbFqqz0RSeE6GC74cjfwNgYOzJPc5PZM1ZRMeK5NL5XVSoiMRp_ESf8srC5Yr21zJt_nnAFwpEyKbmP8FVyMWjGSE2pNX14mpvMzjO_pbQtdnB9npAbGoae6jl9ij7gRpeOWFD2hRUb48RTAGIknJ4b3hgmuwquK8eh5mezsHaW9uhw-jXCdEDH_BfMRlzKVtGVnkk12bI3evSJGZz_j7Xf4-m1c29ITfEOYzg1KK8I_NAo2XMnUnJxmpCoEU7i-QBazyLtF5-dBIqpizYC-dCrhcmqMVUyHBNxj2schtn67UoQ6lKV9vVe25vQ7EWwHv-zlBe-mKbOBV4FbpETExEiYS8o67H9rTRL4Kli7KUf2SxX26jVTuUO2coMau4AJnI0wGLZ1cpooSHGoFpfA9gnXOUlapo2E6A_ZUhC5Ttv24A7dQsUxo5Xh-S8MSu44CmJ1RCO6uUaO3y7w_U2wzu6PJEaBm2aVR1Fz7mZflewZG0uIwSMRBQcH4yyzpzayIY4wwe4oNgw_Ob_lWl4WTAFrwj8D8iBGQMBkpILGlWdJiEbla7kwWaQgvR0c67n9Ey0Wg-9yKfPZCIfk1C_iHJgSEI6iIlQXSVWo-PmnWtkaPZVTjXYo-NdTHNdXCuNq6IpdJ-WISuQ5vF1uC6kaVqIlyE7fkLedCwGsz_7RNDhkbfTk3JXnzLW3MCSS0qy6tjMQqAklV0k5mdKVR_1qISCLcg_l8E9suNKblw../download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.24.200, 74.112.185.96, 107.152.25.200, ...
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.24.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1697 (1.7K) [text/csv]
Saving to: ‘f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv’

f1dhhjnzjwxmy2c1ys2 100%[===================>]   1.66K  --.-KB/s    in 0s

2017-01-25 10:23:14 (31.1 MB/s) - ‘f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv’ saved [1697/1697]

In [3]:
# using inferschema is very handy, but adds a second pass over the data

df = sqlContext.read.format('com.databricks.spark.csv')\
                .option('header', 'true')\
                .option('inferschema', 'true')\
                .option('mode', 'DROPMALFORMED')\
                .load('f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv')
#look at Spark Web UI to see the two passes

In [4]:
df.count()

32

In [5]:
df.printSchema()

root
 |-- car: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [6]:
df.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [7]:
df.select('car', 'mpg').show(5)

+-----------------+----+
|              car| mpg|
+-----------------+----+
|        Mazda RX4|21.0|
|    Mazda RX4 Wag|21.0|
|       Datsun 710|22.8|
|   Hornet 4 Drive|21.4|
|Hornet Sportabout|18.7|
+-----------------+----+
only showing top 5 rows

In [8]:
df.filter(df['mpg'] < 18).show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [9]:
# the filter can be just like a SQL where clause

df.filter('mpg < 18').show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [10]:
# dataframes are immutable -- withColumn creates a new one

df.withColumn('wtTon', df['wt'] * 0.45).show(6)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|  wtTon|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|  1.179|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|1.29375|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|  1.044|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|1.44675|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|  1.548|
|          Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|  1.557|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
only showing top 6 rows

In [11]:
df.groupby(['cyl'])\
.agg({"wt": "AVG"})\
.show(5)

+---+------------------+
|cyl|           avg(wt)|
+---+------------------+
|  6| 3.117142857142857|
|  4| 2.285727272727273|
|  8|3.9992142857142867|
+---+------------------+

In [12]:
car_counts = df.groupby(['cyl'])\
.agg({"*": "count"})\
.sort("count(1)", ascending=False)\
.show(5)

+---+--------+
|cyl|count(1)|
+---+--------+
|  8|      14|
|  4|      11|
|  6|       7|
+---+--------+

In [13]:
df.registerTempTable("cars")

# SQL statements can be run by using the sql method
highgearcars = sqlContext.sql("SELECT gear FROM cars WHERE cyl >= 4 AND cyl <= 9")
highgearcars.show(6)

+----+
|gear|
+----+
|   4|
|   4|
|   4|
|   3|
|   3|
|   3|
+----+
only showing top 6 rows

## Exercise 1:

Step 1: Create a list of tuples ("john", 23), ("mr. bean", 56), ("bill clinton", 70)

Step 2: Convert the list to a data frame with two columns

Step 3: Filter the people with age < 40

Step 4: Get the names ONLY of people smaller than 40

Step 5: Register the dataframe as a SQL table

Step 6: Select the names only of people whose age < 40

Some hints: http://spark.apache.org/docs/latest/sql-programming-guide.html#generic-loadsave-functions

In [25]:
lt = [('john',23),('mr.bean',56),('bill clinton',70)]
rdd = sc.parallelize(lt)
df = sqlContext.createDataFrame(rdd)

In [30]:
df.show()

+------------+---+
|          _1| _2|
+------------+---+
|        john| 23|
|     mr.bean| 56|
|bill clinton| 70|
+------------+---+

In [31]:
df.filter(df['_2']<40).show()

+----+---+
|  _1| _2|
+----+---+
|john| 23|
+----+---+

In [33]:
df.filter(df['_2']<40).select('_1').show()

+----+
|  _1|
+----+
|john|
+----+

In [34]:
df.registerTempTable("people")

In [35]:
# SQL statements can be run by using the sql method
somepeople = sqlContext.sql("SELECT _1 FROM people WHERE _2<40")
somepeople.show()

+----+
|  _1|
+----+
|john|
+----+

## Exercise 2:

Step 1: Create a list of tuple ("john", "male"), ("hilary", "female")

Step 2: Join with the data from the previos exercise and output all males older than 50

Hints: https://databricks.com/blog/2015/02/17/introducing-dataframes-in-spark-for-large-scale-data-science.html

In [38]:
lt2 = [('john','male'),('hilary','female')]
rdd2 = sc.parallelize(lt2)
df2 = sqlContext.createDataFrame(rdd2)
df2.registerTempTable("sex")

In [39]:
df2.show()

+------+------+
|    _1|    _2|
+------+------+
|  john|  male|
|hilary|female|
+------+------+

In [78]:
spark.conf.set("spark.sql.crossJoin.enabled", True)

In [84]:

sql_stat = "SELECT p._1 FROM people p,sex s \
WHERE p._2<40 \
AND s._2 = 'male'"

In [85]:
morepeople = sqlContext.sql(sql_stat)
morepeople.show()

AnalysisException: 'Cartesian joins could be prohibitively expensive and are disabled by default. To explicitly enable them, please set spark.sql.crossJoin.enabled = true;'

In [95]:
spark.conf.set("spark.sql.crossJoin.enabled", True)
df.join(df2).show()

AnalysisException: 'Cartesian joins could be prohibitively expensive and are disabled by default. To explicitly enable them, please set spark.sql.crossJoin.enabled = true;'