In [1]:
# needed whenever working with spark dataframes
from pyspark.sql import *
!rm -rf metastore_db/
sqlContext = SQLContext(sc)

In [4]:
!wget https://ibm.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv

--2017-01-18 20:50:34--  https://ibm.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.24.197
Connecting to ibm.box.com (ibm.box.com)|107.152.24.197|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ibm.ent.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv [following]
--2017-01-18 20:50:34--  https://ibm.ent.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 74.112.185.69, 107.152.24.211, 107.152.25.211, ...
Connecting to ibm.ent.box.com (ibm.ent.box.com)|74.112.185.69|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/Ic9njWbRzCAW-1Vrhvo2yr2fmWIlakmJ6PQHUWxMv9IRRinj7D6Vz5mWo3M2l2TZff9CeSmEYEpOC1Squ9Tjh0g7pV_G4PI5wgGCS_-zQoljG7I2ZOvRw402ThiVOXIuNY_M17-yuC3DjoS5iRgnGeCkndRc2TQQNdB2l4IyXepNq1pSo536x6RFwgCnGkqzkgByJz2kNwV6WwjCyFbaIahYNqguW9PLtQ1NXhkNsiMWzXqDordIYF-SrluCDQp1qXzjknk0PiqIexUEsxhSPRPr1bMgI74QFaRz43d9AgwfojVS1cdyEsht7g7TxOU8Kt0MX6wYNy8wabA9NwRelzOehqeEt31vmYmMbPlFrqdohBvdWvpG8N0ViKV_stE9WhZKaA554WdMVafpnHEEIsti9J2HpLTNlIBBDpLVQxDkyu6esIewbR2f1z_yijpeScragHdiwBNwCPmISKFRRX68i5DmyxvKw4jA-WtNIimjviWqN7bYO_S_nNf0qhtfA7ZFOEE3L5rO0_tnsQ-vhgtNkA0ytaDApNuj7F4Pe44OhaOMRIckkDWLyCD5FNcntDagNv5woxk5qNp0__rqdYarG8ROvpZARROq-r7cCauLEJU-HH8EyQut-mPe9qqTGq4A_iGisHqV0CUbpRp8Hjpou1MCyZ2kp5VSFM3hkg4UQ1iqVeFEjdObxwGdqxqzX6SHM5vXvSWg8o7OVozdHkJfzfFiAKfccBqEdQEGgn6MexTuEkrwxSQ0pxuBCQhGzpCdQt7UC2dnOVhhBJ9C40zYxr3oKqa10biO1XbH2VzbpwgnwrFYB6whHkzbXHPxV6StiYvdybbltYLbq-jjz9OL2vDSKf5AqgDkEjR_oZkU8izliV1orU2xVC1CLP1va1kXFsO2HVFSkpi783uQw32aLQT14FyZrlLdUtd2Z2_9TMs-GXPSw1G-GvDVEPfLaKh3sKBkCD14EL7PeLZpJWaJrxwjuu7SkvkpYHmKuElfbkf4uugzzi89aU5Q5kgIyRPiuDQiMgnllrocXiZ-G7qyqdbMJlcSVIiyT1thSkqaMjJkjay6K_DMjv0GsxEi25C04bDb7ALu0bBb_cUx8JX6ozvb4ugrRAIQcFLLIAUDceyFeXPOw4bt7rdc52WS8xcRu6x2jygOfeFFNkBqWbgkuQNU6gjJTe9Ga51NW-n9tzVfPP402wyM/download [following]
--2017-01-18 20:50:35--  https://public.boxcloud.com/d/1/Ic9njWbRzCAW-1Vrhvo2yr2fmWIlakmJ6PQHUWxMv9IRRinj7D6Vz5mWo3M2l2TZff9CeSmEYEpOC1Squ9Tjh0g7pV_G4PI5wgGCS_-zQoljG7I2ZOvRw402ThiVOXIuNY_M17-yuC3DjoS5iRgnGeCkndRc2TQQNdB2l4IyXepNq1pSo536x6RFwgCnGkqzkgByJz2kNwV6WwjCyFbaIahYNqguW9PLtQ1NXhkNsiMWzXqDordIYF-SrluCDQp1qXzjknk0PiqIexUEsxhSPRPr1bMgI74QFaRz43d9AgwfojVS1cdyEsht7g7TxOU8Kt0MX6wYNy8wabA9NwRelzOehqeEt31vmYmMbPlFrqdohBvdWvpG8N0ViKV_stE9WhZKaA554WdMVafpnHEEIsti9J2HpLTNlIBBDpLVQxDkyu6esIewbR2f1z_yijpeScragHdiwBNwCPmISKFRRX68i5DmyxvKw4jA-WtNIimjviWqN7bYO_S_nNf0qhtfA7ZFOEE3L5rO0_tnsQ-vhgtNkA0ytaDApNuj7F4Pe44OhaOMRIckkDWLyCD5FNcntDagNv5woxk5qNp0__rqdYarG8ROvpZARROq-r7cCauLEJU-HH8EyQut-mPe9qqTGq4A_iGisHqV0CUbpRp8Hjpou1MCyZ2kp5VSFM3hkg4UQ1iqVeFEjdObxwGdqxqzX6SHM5vXvSWg8o7OVozdHkJfzfFiAKfccBqEdQEGgn6MexTuEkrwxSQ0pxuBCQhGzpCdQt7UC2dnOVhhBJ9C40zYxr3oKqa10biO1XbH2VzbpwgnwrFYB6whHkzbXHPxV6StiYvdybbltYLbq-jjz9OL2vDSKf5AqgDkEjR_oZkU8izliV1orU2xVC1CLP1va1kXFsO2HVFSkpi783uQw32aLQT14FyZrlLdUtd2Z2_9TMs-GXPSw1G-GvDVEPfLaKh3sKBkCD14EL7PeLZpJWaJrxwjuu7SkvkpYHmKuElfbkf4uugzzi89aU5Q5kgIyRPiuDQiMgnllrocXiZ-G7qyqdbMJlcSVIiyT1thSkqaMjJkjay6K_DMjv0GsxEi25C04bDb7ALu0bBb_cUx8JX6ozvb4ugrRAIQcFLLIAUDceyFeXPOw4bt7rdc52WS8xcRu6x2jygOfeFFNkBqWbgkuQNU6gjJTe9Ga51NW-n9tzVfPP402wyM/download
Resolving public.boxcloud.com (public.boxcloud.com)... 74.112.184.96, 74.112.185.96, 107.152.25.200, ...
Connecting to public.boxcloud.com (public.boxcloud.com)|74.112.184.96|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1697 (1,7K) [text/csv]
Saving to: ‘f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv’

100%[======================================>] 1.697       --.-K/s   in 0s

2017-01-18 20:50:36 (231 MB/s) - ‘f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv’ saved [1697/1697]

In [5]:
# using inferschema is very handy, but adds a second pass over the data

df = sqlContext.read.format('com.databricks.spark.csv')\
                .option('header', 'true')\
                .option('inferschema', 'true')\
                .option('mode', 'DROPMALFORMED')\
                .load('f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv')
#look at Spark Web UI to see the two passes

In [6]:
df.count()

32

In [7]:
df.printSchema()

root
 |-- car: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [8]:
df.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [9]:
df.select('car', 'mpg').show(5)

+-----------------+----+
|              car| mpg|
+-----------------+----+
|        Mazda RX4|21.0|
|    Mazda RX4 Wag|21.0|
|       Datsun 710|22.8|
|   Hornet 4 Drive|21.4|
|Hornet Sportabout|18.7|
+-----------------+----+
only showing top 5 rows

In [10]:
df.filter(df['mpg'] < 18).show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [12]:
# the filter can be just like a SQL where clause
df.filter('mpg < 18').show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [13]:
# dataframes are immutable -- withColumn creates a new one
df.withColumn('wtTon', df['wt'] * 0.45).show(6)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|  wtTon|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|  1.179|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|1.29375|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|  1.044|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|1.44675|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|  1.548|
|          Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|  1.557|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
only showing top 6 rows

In [14]:
df.groupby(['cyl'])\
.agg({"wt": "AVG"})\
.show(5)

+---+------------------+
|cyl|           avg(wt)|
+---+------------------+
|  6| 3.117142857142857|
|  4| 2.285727272727273|
|  8|3.9992142857142867|
+---+------------------+

In [15]:
car_counts = df.groupby(['cyl'])\
.agg({"*": "count"})\
.sort("count(1)", ascending=False)\
.show(5)

+---+--------+
|cyl|count(1)|
+---+--------+
|  8|      14|
|  4|      11|
|  6|       7|
+---+--------+

In [16]:
df.registerTempTable("cars")

# SQL statements can be run by using the sql method
highgearcars = sqlContext.sql("SELECT gear FROM cars WHERE cyl >= 4 AND cyl <= 9")
highgearcars.show(6)

+----+
|gear|
+----+
|   4|
|   4|
|   4|
|   3|
|   3|
|   3|
+----+
only showing top 6 rows

## Exercise 1:

Step 1: Create a list of tuples ("john", 23), ("mr. bean", 56), ("bill clinton", 70)

Step 2: Convert the list to a data frame with two columns

Step 3: Filter the people with age < 40

Step 4: Get the names ONLY of people smaller than 40

Step 5: Register the dataframe as a SQL table

Step 6: Select the names only of people whose age < 40

Some hints: http://spark.apache.org/docs/latest/sql-programming-guide.html#generic-loadsave-functions

## Exercise 2:

Step 1: Create a list of tuple ("john", "male"), ("hilary", "female")

Step 2: Join with the data from the previos exercise and output all males older than 50

Hints: https://databricks.com/blog/2015/02/17/introducing-dataframes-in-spark-for-large-scale-data-science.html

In [18]:
people = [("john", 23), ("mr. bean", 56), ("bill clinton", 70)]

In [21]:
df_people = sqlContext.createDataFrame(people, ['name', 'age'])
df_people.show()

+------------+---+
|        name|age|
+------------+---+
|        john| 23|
|    mr. bean| 56|
|bill clinton| 70|
+------------+---+

In [23]:
df_people.where('age < 40').show()

+----+---+
|name|age|
+----+---+
|john| 23|
+----+---+

In [24]:
df_people.select('name').where('age < 40').show()

+----+
|name|
+----+
|john|
+----+

In [28]:
df_people.createOrReplaceTempView('tbl_people')

In [29]:
sqlContext.sql('select name from tbl_people where age < 40').show()

+----+
|name|
+----+
|john|
+----+